@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 54%, 90%);
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

header > img {
    width: 100%;
    border-radius: 10px;
}

.container {
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    width: 735px;
    margin: 125px auto;
    padding: 50px;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: hsl(24, 5%, 18%);
    font-size: 2.4rem;
    margin: 18px 0;
}

h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 20px;
}

.preparation-heading {
    color: hsl(332, 51%, 32%);
    color: 1.5rem;
}

.preparation-list {
    margin: 0 20px;
    line-height: 35px;
}

.ingredients-list {
    list-style-type: square;
    margin: 0 20px;
    line-height: 35px;
}

.instructions-list {
    margin: 0 20px;
    line-height: 35px;
}

li {
    padding: 0 20px;
}

.preparation-list > *::marker {
    font-weight: 600;
    color: hsl(332, 51%, 32%);
}

.ingredients-list > *::marker {
    font-weight: 600;
    color: hsl(14, 45%, 36%);
}

.instructions-list > *::marker {
    font-weight: 600;
    color: hsl(14, 45%, 36%);
}

.horizontal-rule {
    background-color: hsl(30, 18%, 87%);
    height: 1.5px;
}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
}

.nutrition-table > caption {
    text-align: start;
}

.nutrition-table .key {
    padding-left: 25px;
}

.value {
    font-weight: bold;
    color: hsl(14, 45%, 36%);
    padding-right: 25px;
}

.nutrition-table td {
    border-bottom: 1.5px solid hsl(30, 18%, 87%);
    padding: 15px 0;
}

.nutrition-table tr:last-child td {
    border-bottom: none;
}